<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.vote.mapper.OptionMapper">
	<select id="getOptionById" parameterType="int" resultType="Option">
		select vo.*,(select count(1) from voteItem where vsId=vo.vsid) voteCount from voteOption vo where vsId=#{vsId}
	</select>
</mapper>